/* General Styles */
:root {
    --primary-color: #ff69b4; /* Pink color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    color: #ededed;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 5%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 600;
}

.logo {
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-right: -15px; /* Remove default list margin */
}

.navbar li {
    margin-left: 35px;
}

.navbar a {
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--primary-color);
}

/* About Section Styles */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 5%;
}

.about-section .container {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30px;
}

.about-content p {
    font-size: 18px;
    text-align: left;
}

/* Media Queries */
@media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar li {
        margin: 10px 0;
    }

    .about-section h2 {
        font-size: 24px;
    }

    .profile-picture {
        width: 150px;
        height: 150px;
    }

    .about-content p {
        font-size: 16px;
    }
}
